<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <title>Node Tutorial</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>
        html,body{
        height: 100%;
        }
        body{
        text-align: center;;
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        margin: 0;
        padding: 0;
        }

        .wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        height: 100vh;
        }

        .nfc-image{
        border: 3px solid black;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding: 15% 0%;
        }
        .nfc-image img{
        width: 80%;
        }

        #scannbtn{
        border: 0px;
        border-radius: 5px;
        margin-bottom: 10%;
        background-color: aliceblue;
        }

        #scannbtn:hover{
        background-color: lightsalmon;
        color: aliceblue;
        }
    </style>
</head>
 
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Node Tutorial</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Log In">Log In</a></li>
        </ul>
    </div>
</div>
 
<div class="container">
