<%- include('_header'); -%>

<div class="wrapper">

    <h1 class="p-3">Scann your NFC Tag: </h1>

    <div class="nfc-image w-50" id="nfccard">
      <!--<img src="img/nfclogo.png" alt="">-->
    </div>

    <p>
      <button onclick="readTag()">Test NFC Read</button>
      <button onclick="writeTag()">Test NFC Write</button>
    </p>
    <pre id="log"></pre>
    <p>Copyright &copy; All rights reserved | Hanna Zalami 2020</p>

</div>
<!-- ================= Javascript starts here ================= -->
<script>
    const reader = new NDEFReader();
    reader.scan().then(() => {
        console.log("Scan started successfully.");
        reader.onerror = () => {
            console.log("Cannot read data from the NFC tag. Try another one?");
        };
        reader.onreading = event => {
            console.log("NDEF message read.");
        };
    }).catch(error => {
        console.log(`Error! Scan failed to start: ${error}.`);
    });

    reader.onreading = event => {
        const message = event.message;
        for (const record of message.records) {
            console.log("Record type:  " + record.recordType);
            console.log("MIME type:    " + record.mediaType);
            console.log("Record id:    " + record.id);
            switch (record.recordType) {
              case "text":
                // TODO: Read text record with record data, lang, and encoding.
                break;
              case "url":
                // TODO: Read URL record with record data.
                break;
              default:
                // TODO: Handle other records with record data.
            }
        }
    };
</script>

<%- include ('_footer'); -%>