/* --- MEINE CSS STYLES --- */
/* Navigation*/
.navbar{
  background-color:coral;
  color: white;
}
.navbar-default .navbar-brand{
  color: white;
}

.app{
  padding: 0px 50px;
}
h4{
  color: coral;
}

/* Bild */
.app .img{
  margin: 20px 0px;
  height: 300px;
  border-radius: 15px;
  border-color: lightgrey;
  border-style: solid;
}
.app img{
  width: auto;
  height: 300px;
  object-fit: cover;
}

/* Button */
.app .btn{
  background-color: coral;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 50%;
  margin: 20px 0px;
}
.app .btn:hover{
  background-color: peachpuff;
}
.app .btn .iconify{
  padding: 0;
  width: 40px;
  height: 40px;
  margin: 0;
}

/* Log Box */
.app .divlog{
  padding: 30px;
  background-color: peachpuff;
}
